/* Costume Style Apps
***********************/
.top-up{
    margin-top: 100px;
}
.other-movie{
    margin-top: 20px;
    margin-bottom: 20px;
}
.paddingt-card{
    padding: 20px;
}
.other-card{
    margin-bottom: 20px;
}